.column img,
.columns img {
	max-width: 100%;
}

html {
	background: linear-gradient(to right, #641209 0%,#641209 50%,#641209 50%,#0e2e67 50%,#0e2e67 100%);
}
.Players-Image:hover {
	transform: translateZ(0) scale(1.25);
}
.about-Text{
	color: #FFF;
	background: #222;
	margin: 20px;
	
}
.form-submit-button{
	color:white;
}
.nested-List{
	margin: auto;
    padding: 0;
	list-style-type: none;
	text-align: left;
}
.shop-Box-Image:hover{
	transform: translateZ(0) scale(0.8);
}
.banner{
	color: white;
	border: 4px solid #DFA038;
	background: black;
	text-align: center;
}
.event-Banner{
	color: white;
	border: 4px solid #DFA038;
	background: black;
	text-align: center;
}
.players-Banner{
	padding-bottom: 20px;
	color: white;
	border: 4px solid #DFA038;
	background: black;
	text-align: center;
	margin-bottom: 20px;
}
.news-Banner{
	color: white;
	border: 4px solid #DFA038;
	background: black;
	text-align: center;
}
.contact-Banner{
	color: white;
	border: 4px solid #DFA038;
	background: black;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.shop-Banner{
	color: white;
	border: 4px solid #DFA038;
	background: black;
	text-align: center;
}
.action{
	background: #222;
	color: white;
	margin-left: auto;
	margin-right: auto;

}
form {

    display: flex;
    flex-direction: column;
    padding: 10px 40px;

}

.shop-Box{
	color: white;
	text-shadow: #DFA038;
	background: #222;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 20px;
	border: 2px #DFA038;
	border-radius: 2px;
}
.Players-Box{
	color: white;
	border: 2px solid #DFA038;
	overflow: hidden;
	text-shadow: #DFA038;
	margin-bottom: 10px;
}
.News-Box{
	color: azure;
	border: 2px solid #DFA038;
	border-radius: 2px;
	margin-bottom: 20px;
	margin-top: 20px;
	background: #222;
}
.Players-Content{
	position: relative;
	z-index: 5;
	margin-top: -35px;
	margin-bottom: 0;
}

.News-Box:hover {
	box-shadow: 0 0 30px rgb(220, 176, 16);
}

.News-Box-Content {
	padding: 10px;
	min-height: 90px;	
}

.News-Box-Image {
	width: 100%;
}
.about-image{
	max-width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.submit{
	background-image: linear-gradient(to bottom, #f3d381, #DFA038);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3d381, endColorstr=#DFA038);
	border: 2px solid black;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	color: black;
	font-weight: bold;
	text-shadow:
	-1px -1px 0 #FFF,
	1px -1px 0 #FFF,
	-1px 1px 0 #FFF,
	1px 1px 0 #FFF;  
	text-decoration: none;
}
.header-button {
	background-image: linear-gradient(to bottom, #f3d381, #DFA038);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3d381, endColorstr=#DFA038);
	border: 2px solid black;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	color: black;
	font-weight: bold;
	text-shadow:
	-1px -1px 0 #FFF,
	1px -1px 0 #FFF,
	-1px 1px 0 #FFF,
	1px 1px 0 #FFF;  
	text-decoration: none;
}

.header-button.left-side:hover {
	color: #641209;
}

.header-button.right-side:hover {
	color: #0e2e67;
}

body {
	background-image: url('../images/players.png');
	background-size: 50%;
	background-position: 38% bottom;
	background-repeat: no-repeat;
	padding-bottom: 38%;
}

.gradient-bar {
	background: linear-gradient(90deg,#cd122d 0,#154284);
	height: 20px;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	background: #222;
	color: #FFF;
	font-size:18px;
	margin-left: auto;
	margin-right: auto;
}
.tg td {
	font-family:Arial, sans-serif;
	font-size:18px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg th {
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg .tg-baqh {
	text-align:center;
	vertical-align:top
}
.tg .tg-0lax {
	text-align:left;
	vertical-align:top
}
	/*
	SELECTOR {
		RULE;
		...;
		...;
		...;
	}
	
	.friend {
		coffee: with-milk;
	}
	
	KAYLEIGH {
		coffee: black;
		bread: toasted;
	}
	
	MIKE {
		coffee: with-milk;
		bread: raw;
	}
	
	KAYLEIGH {
		coffee: with-milk;
	}
	
	MIKE, KAYLEIGH {
		chocolate: milk;
	}
	*/
	
	
	/*
	
	SELECTORS:
	
	EITHER 1: tag
	OR 2: class
	OR 3: id
	
	body, p, a — tag
	.myClass, .blurgh — class
	#myId, #blurgh — ID
	row
	
	*/